.card {
    margin-top: 80px;
}

.inputZone {
    position: relative;
    margin-bottom: 25px;
}

input.form-control {
    padding-left: 35px;
}

img {
    position: absolute;
    top: 10px;
    left: 10px;
}

#hide-password_1 {
    left: 90%;
    transition: all;
    cursor: pointer;
}

#hide-password_2 {
    left: 90%;
    transition: all;
    cursor: pointer;
}

#hide-password_1:hover {
    transform: scale(1.5);
}

#hide-password_2:hover {
    transform: scale(1.5);
}

#gotoregister,
#reset-password {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
}