/*第二种写法 找到对应的标签 进行对应的清除 */
body,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    /*外边距*/
    margin: 0px;
}


ul,
ol {
    margin: 0px;
    padding: 0px;
    /*清除列表的序号*/
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
}