<div class="p-4 mb-3 bg-light rounded">
  <h4 class="font-italic">最新文章</h4>
  <ol class="list-unstyled mb-0">
    {% block latest-articles %}
      {% for article in last_articles %}
        <li>
          <a href="{% url 'article:detail' article.id %}" style="color: #212529;" class="text-decoration-none">{{ article.title|truncatechars:18 }}</a>
        </li>
      {% endfor %}
    {% endblock %}
  </ol>
</div>

<div class="p-4 mb-3 bg-light rounded">
  <h4 class="font-italic">热门文章</h4>
  <ol class="list-unstyled mb-0">
    {% block hot-articles %}
      {% for article in hot_list %}
          <li>
            <a href="{% url 'article:detail' article.id %}" style="color: #212529;" class="text-decoration-none">{{ article.title|truncatechars:18 }}</a>
          </li>
        {% endfor %}
    {% endblock %}
  </ol>
</div>

<div class="p-4 bg-light mb-3">
  <h4 class="font-italic">相关推荐文章</h4>
  <ol class="list-unstyled mb-0">
    {% block article-archive %}
    {% for article in about_articles %}
      <li>
        <a href="#">{{ article.title|truncatechars:18 }}</a>
      </li>
    {% endfor %}
    
    {% endblock %}
  </ol>
</div>

