{% load static %}
<!-- 引入通用侧边栏样式 -->
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<!-- 1. 最新文章 -->
<div class="sidebar-widget">
  <h4 class="widget-title">最新文章</h4>
  <ol class="article-list">
    {% block latest-articles %}
      {% for article in last_articles %}
        <li>
          <a href="{% url 'article:detail' article.id %}" class="article-link">
            {{ article.title|truncatechars:18 }}
          </a>
        </li>
      {% endfor %}
    {% endblock %}
  </ol>
</div>

<!-- 2. 热门文章 -->
<div class="sidebar-widget">
  <h4 class="widget-title">热门文章</h4>
  <ol class="article-list">
    {% block hot-articles %}
      {% for article in hot_list %}
        <li>
          <a href="{% url 'article:detail' article.id %}" class="article-link">
            {{ article.title|truncatechars:18 }}
          </a>
        </li>
      {% endfor %}
    {% endblock %}
  </ol>
</div>

<!-- 3. 相关推荐文章 -->
<div class="sidebar-widget">
  <h4 class="widget-title">相关推荐文章</h4>
  <ol class="article-list">
    {% block article-archive %}
      {% for article in about_articles %}
        <li>
          <a href="#" class="article-link">
            {{ article.title|truncatechars:18 }}
          </a>
        </li>
      {% endfor %}
    {% endblock %}
  </ol>
</div>