{% extends 'base_auth.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/authentication/change_password.css' %}" />
{% endblock %}

{% block content %}
  <div class="card shadow-lg">
    <div class="card-body">
      <h5 class="card-title text-center"><a href="{% url 'core:index' %}" style="text-decoration: none">返回首页</a></h5>
      <h5 class="card-title text-center py-3">重置密码</h5>
      <form action="" method="post">
        {% csrf_token %}
        {% include 'part/messages.html' %}

        <!-- 旧密码：统一结构（左侧锁+右侧眼睛） -->
        <div class="form-group inputZone">
          <img src="{% static 'img/authentication/lock.svg' %}" alt="锁图标" class="input-icon">
          <img id="hide-password_1" src="{% static 'img/authentication/eye.svg' %}" alt="显示密码" class="password-toggle">
          <input type="password" name="old_password" id="password_1" placeholder="旧密码" class="form-control" autocomplete="off">
        </div>

        <!-- 新密码 -->
        <div class="form-group inputZone">
          <img src="{% static 'img/authentication/lock.svg' %}" alt="锁图标" class="input-icon">
          <img id="hide-password_2" src="{% static 'img/authentication/eye.svg' %}" alt="显示密码" class="password-toggle">
          <input type="password" name="new_password" id="password_2" placeholder="新密码" class="form-control" autocomplete="off">
        </div>

        <!-- 确认密码 -->
        <div class="form-group inputZone">
          <img src="{% static 'img/authentication/lock.svg' %}" alt="锁图标" class="input-icon">
          <img id="hide-password_3" src="{% static 'img/authentication/eye.svg' %}" alt="显示密码" class="password-toggle">
          <input type="password" name="re_password" id="password_3" placeholder="确认密码" class="form-control" autocomplete="off">
        </div>

        <input type="submit" value="提交" class="btn btn-primary btn-block" />
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/authentication/change_password.js' %}"></script>
{% endblock %}