{% extends 'base_auth.html' %}

{% block content %}
  <div class="card shadow-lg" style="margin-top: 50%;">
    <div class="card-body">
      <h3 class="card-title text-center py-3">找回密码</h3>
      <p>请输入与要找回的账户关联的邮箱。</p>
      <form action="{% url 'authentication:forget_password' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" name="email" value="{{ email }}" id="email" placeholder="邮箱" class="form-control {% if error %}is-invalid{% endif %}" />
          <span class="invalid-feedback">{{ error }}</span>
        </div>
        <input type="submit" value="提交" class="btn btn-primary float-right" />
        <a href="{% url 'authentication:login' %}" class="btn btn-sm">返回</a>
      </form>
    </div>
  </div>
{% endblock %}
