{% extends 'base_auth.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/authentication/reset_password.css' %}" />
{% endblock %}

{% block content %}
  <div class="card shadow-lg">
    <div class="card-body">
      <h5 class="card-title text-center py-3">重置密码</h5>
      <form action="" method="post">
        {% csrf_token %}
        {% include 'part/messages.html' %}
        <div class="form-group inputZone">
          <img src="{% static 'img/authentication/lock.svg' %}" type="image/svg+xml" />
          <img id="hide-password_1" src="{% static 'img/authentication/eye.svg' %}" type="image/svg+xml" />
          <input type="password" name="password" id="password" placeholder="密码" class="form-control" autocomplete="off" />
        </div>
        <div class="form-group inputZone">
          <img src="{% static 'img/authentication/lock.svg' %}" type="image/svg+xml" />
          <img id="hide-password_2" src="{% static 'img/authentication/eye.svg' %}" type="image/svg+xml" />
          <input type="password" name="re_password" id="re_password" placeholder="确认密码" class="form-control" autocomplete="off" />
        </div>
        <input type="submit" value="提交" class="btn btn-primary btn-block" />
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/authentication/reset_password.js' %}"></script>
{% endblock %}
