<!DOCTYPE html>
<html lang="zh-CN">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>知文汇-首页</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style%}
    {% endblock%}
    
    

  </head>
  <body>
    <div class="container">
      {# 头部分 #}
      {% include 'part/header.html' %}

      {% include 'part/top_article.html' %}
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          {% block post %}
            文章列表页
          {% endblock %}
        </div>

        {# 侧边栏 #}
        <aside class="col-md-4 blog-sidebar">
          {% include 'part/sidebar/sidebar.html' %}
        </aside>
      </div>
    </main>

  <script src='{% static ' js/sweetalert.min.js'%}'></script>
  {% block js%}
  {% endblock %}
  </body>
</html>



{% include 'part/sweetalert.html' %}